{% load static %}
		<!-- Posts List -->
        <div class="section blog-posts-wrapper">
	    	<div class="container">
				<h2>Что нового:</h2>
				<div class="row">
					{% for n in news %}
						<div class="col-md-4 col-sm-6">
							<div class="blog-post post-height">
								<div class="post-info">
									<div class="post-date">
										<div class="date">{{ n.created_at|date:"d b Y" }}</div>
									</div>
									<!--div class="post-comments-count">
										<a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment icon-white"></i>11</a>
									</div-->
								</div>
								{% if n.photo %}
									<a href="{{ n.get_absolute_url }}"><img src="/media/{{ n.photo }}" class="post-image" alt="{{ n.preview }}"></a>
								{% else %}
									<a href="{{ n.get_absolute_url }}"><img src="{% static 'img/example/news1.jpg' %}" class="post-image" alt="Иллюстрация новости"></a>
								{% endif %}
								<div class="post-title">
									<h3><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></h3>
								</div>
								<div class="post-summary">
									<p>{{ n.preview }}</p>
								</div>
								<div class="post-more">
									<a href="{{ n.get_absolute_url }}" class="btn btn-small">Подробнее</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
	    </div>
