{% extends 'base.html' %}
{% load static %}

{#% block title %#}
    {#Список новостей#}
{#% endblock %#}

{% block content %}
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Новости</h1>
					</div>
				</div>
			</div>
		</div>
        <div class="section">
	        <div class="container">

				{% for p in page_obj.object_list %}
				<div class="row service-wrapper-row blog-post">
        			<div class="col-sm-4">
        				<div class="service-image">
							{% if p.photo %}
								<img src="/media/{{ p.photo }}" alt="{{ p.preview }}">
							{% else %}
        						<img src="{% static 'img/services3.jpg' %}" alt="Иллюстрация новости">
							{% endif %}
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>{{ p.title }}</h3>
    					<p>{{ p.preview }}</p>
						<hr />
						<p class="pull-right"><b>Добавлено:</b> {{ p.created_at|date:"Y.m.d" }} {% if p.category %}<b>Тема:</b> "{{ p.category }}{% endif %}"</p>
    				</div>

				</div>
				{% endfor %}

				{% if page_obj.has_other_pages %}
					<nav class="text-center">
					<ul class="pagination pagination-lg">

						{% if page_obj.has_previous %}
							<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
						{% endif %}
						{% for p in page_obj.paginator.page_range %}
							{% if p == page_obj.number %}
								<li class="active"><a href="#">{{ p }}</a></li>
							{% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
								<li><a href="?page={{ p }}">{{ p }}</a></li>
							{% endif %}
						{% endfor %}
						{% if page_obj.has_next %}
							<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
						{% endif %}
					</ul>
				</nav>
				{% endif %}

			</div>
	    </div>

{% endblock %}