{% extends 'base.html' %}
{% load static %}

{#% block title %#}
    {#Список новостей#}
{#% endblock %#}

{% block content %}
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Новости</h1>
					</div>
				</div>
			</div>
		</div>

        <div class="section">
	        <div class="container">
	        	<div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img src="{% static 'img/services1.jpg' %}" alt="Service Name">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>Vestibulum ante ipsum</h3>
    					<p>
    						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta lectus ut ante accumsan, sit amet consectetur nisi tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam non justo dignissim, blandit urna a, hendrerit elit. Maecenas hendrerit rhoncus libero. Sed at eleifend velit.
    					</p>
    				</div>
				</div>
				<div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img src="{% static 'img/services2.jpg' %}" alt="Service Name">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>Vestibulum ante ipsum</h3>
    					<p>
    						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta lectus ut ante accumsan, sit amet consectetur nisi tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam non justo dignissim, blandit urna a, hendrerit elit. Maecenas hendrerit rhoncus libero. Sed at eleifend velit.
    					</p>
    				</div>
				</div>
				<div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img src="{% static 'img/services3.jpg' %}" alt="Service Name">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>Vestibulum ante ipsum</h3>
    					<p>
    						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta lectus ut ante accumsan, sit amet consectetur nisi tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam non justo dignissim, blandit urna a, hendrerit elit. Maecenas hendrerit rhoncus libero. Sed at eleifend velit.
    					</p>
    				</div>
				</div>
				<div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img src="{% static 'img/services3.jpg' %}" alt="Service Name">
        				</div>
					</div>
        			<div class="col-sm-8">
    					<h3>Vestibulum ante ipsum</h3>
    					<p>
    						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta lectus ut ante accumsan, sit amet consectetur nisi tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam non justo dignissim, blandit urna a, hendrerit elit. Maecenas hendrerit rhoncus libero. Sed at eleifend velit.
    					</p>
    				</div>
				</div>
				<div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img src="{% static 'img/services3.jpg' %}" alt="Service Name">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>Vestibulum ante ipsum</h3>
    					<p>
    						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta lectus ut ante accumsan, sit amet consectetur nisi tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam non justo dignissim, blandit urna a, hendrerit elit. Maecenas hendrerit rhoncus libero. Sed at eleifend velit.
    					</p>
    				</div>
				</div>
				<div class="row service-wrapper-row">
        			<div class="col-sm-4">
        				<div class="service-image">
        					<img src="{% static 'img/services3.jpg' %}" alt="Service Name">
        				</div>
        			</div>
        			<div class="col-sm-8">
    					<h3>Vestibulum ante ipsum</h3>
    					<p>
    						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta lectus ut ante accumsan, sit amet consectetur nisi tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam non justo dignissim, blandit urna a, hendrerit elit. Maecenas hendrerit rhoncus libero. Sed at eleifend velit.
    					</p>
    				</div>
				</div>
				<nav class="text-center">
					<ul class="pagination pagination-lg">
						<li><a href="#">&laquo;</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li class="active"><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</nav>
	        </div>
	    </div>

{% endblock %}