<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html lang="ru" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="ru" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="ru" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ru" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
          {% block title %}
          	Сейчас на сайте ведутся работы...
          {% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/icomoon-social.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="{% static 'css/leaflet.ie.css' %}" />
		<![endif]-->
		<link rel="stylesheet" href="{% static 'css/main.css' %}">

        <script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
		<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <!-- Navigation & Logo-->
        <div id="menu" class="mainmenu-wrapper hide_mob">
	        <div class="container">
	        	<div class="menuextras hide_it">
					<div class="extras">
					Добавь в закладки, чтобы не потерять :) <a href="page-login.html">8(905)000-00-00</a>
						<ul>
							<li><i class="glyphicon glyphicon-heart icon-white"></i><a href="page-shopping-cart.html"> Избранное</a></li>
							<li class="shopping-cart-items"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> <a href="page-shopping-cart.html"><b>3 товара</b></a></li>
							<li><a href="page-login.html">Покупателям</a></li>
							<li><a href="page-login.html">Сотрудничество</a></li>
							<li class="special">
								<a href="#" title="Версия сайта для слабовидящих"><img src="{% static 'img/icons/special.png' %}" width="35" height="35" alt="Версия для слабовидящих"></a>
							</li>
						</ul>
					</div>
		        </div>

		        <nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper"><a href="/"><img src="{% static 'img/site-logo.png' %}" alt="Multipurpose Twitter Bootstrap Template"></a></li>
						<li>
							<form action="action.some">
							<input type="search" id="search-form" name="search" placeholder="Поиск по сайту">
							<button>
								<i class="fa fa-search"></i>
							</button>
							</form>
						</li>
						<li class="active has-submenu">
							<a href="#">Каталог товаров</a>
							<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner">
									<div>
										<a href="page-services-4-columns.html"><h4>Комплектующие</h4></a>
										<ul class="hide_mob2">
											<li><a href="page-services-1-column.html">Для стационарных ПК</a></li>
											<li><a href="page-services-3-columns.html">Для ноутбуков</a></li>
											<li><a href="page-services-4-columns.html">Для смартфонов</a></li>
											<li><a href="page-services-4-columns.html">Для планшетов</a></li>
											<li><a href="page-services-4-columns.html">Кабели / адаптеры / переходники</a></li>
											<li><a href="page-services-4-columns.html">Эл.компоненты</a></li>
										</ul>
									</div>
									<div>
										<a href="page-services-4-columns.html"><h4>Инструменты</h4></a>
										<ul class="hide_mob2">
											<li><a href="page-portfolio-2-columns-1.html">Для пайки</a></li>
											<li><a href="page-portfolio-2-columns-2.html">Ручной инструмент</a></li>
											<li><a href="page-portfolio-3-columns-1.html">Для измерений</a></li>
											<li><a href="page-portfolio-3-columns-2.html">Программаторы</a></li>
										</ul>
									</div>
									<div>
										<a href="page-services-4-columns.html"><h4>Расходники</h4></a>
										<ul class="hide_mob2">
											<li><a href="page-products-3-columns.html">Для пайки</a></li>
											<li><a href="page-products-4-columns.html">Химия</a></li>
											<li><a href="page-products-slider.html">Термоинтерфейсы</a></li>
										</ul>
									</div>
								</div><!-- /mainmenu-submenu-inner -->
							</div><!-- /mainmenu-submenu -->
						</li>
						<li>
							<a href="credits.html">Закупка</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

{% block content %}
		<img alt="full screen background image" src="{% static 'img/launch-bg.jpg' %}" class="full-screen-background" />
		<div class="coming-soon-content">
			<h3>Сейчас на сайте ведутся работы...<br/><b>Добавляем новые фичи! =)</b></h3>
			<div class="coming-soon-subscribe container">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="Ваш номер:">
                            <span class="input-group-btn">
                                <button class="btn btn-lg" type="button">Перезвоните мне!</button>
                            </span>
                        </div>
						<p> Оператор перезвонит Вам сразу, как будет свободен!</p>
                    </div>
                </div>
			</div>
		</div>
{% endblock %}

	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row">
		    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3>Навигация</h3>
		    			<ul class="no-list-style footer-navigate-section">
		    				<li><a href="page-blog-posts.html">Каталог товаров</a></li>
		    				<li><a href="page-portfolio-3-columns-2.html">Закупка</a></li>
		    				<li><a href="page-products-3-columns.html">Сотрудничество</a></li>
		    				<li><a href="page-services-3-columns.html">Избранные товары</a></li>
		    				<li><a href="page-pricing.html">Корзина</a></li>
		    			</ul>
		    		</div>
		    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3>Покупателям</h3>
		    			<ul class="no-list-style footer-navigate-section">
		    				<li><a href="page-blog-posts.html">О нас</a></li>
		    				<li><a href="news/">Новости</a></li>
		    				<li><a href="page-products-3-columns.html">Как оформить заказ</a></li>
		    				<li><a href="page-services-3-columns.html">Доставка и самовывоз</a></li>
		    				<li><a href="page-pricing.html">Обработка персональных данных</a></li>
		    				<li><a href="page-faq.html">Политика конфиденциальности</a></li>
		    			</ul>
		    		</div>
		    		<div class="col-footer col-md-5 col-xs-12">
		    			<h3>Контакты</h3>
		    			<p class="contact-us-details">
	        				<b>Адрес:</b> <br/>
	        				<b>Телефон: </b> 8(905)000-00-00<br/>
	        			</p>
		    		</div>
		    		<div class="col-footer col-md-3 col-xs-12">
		    			<h3>На карте</h3>
		    			<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="{% static 'img/map.jpg' %}" alt="Project Name"></a>
							</div>
						</div>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright"><a href="">somesite.ru</a><br /><a href="">All rights reserved.</a></div>
		    		</div>
		    	</div>
		    </div>
	    </div>

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="{% static 'js/jquery.fitvids.js' %}"></script>
        <script src="{% static 'js/jquery.sequence-min.js' %}"></script>
        <script src="{% static 'js/jquery.bxslider.js' %}"></script>
        <script src="{% static 'js/main-menu.js' %}"></script>
        <script src="{% static 'js/template.js' %}"></script>
    </body>
</html>
