<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html lang="ru" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="ru" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="ru" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ru" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
          {% block title %}
          The website title
          {% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/icomoon-social.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="{% static 'css/leaflet.ie.css' %}" />
		<![endif]-->
		<link rel="stylesheet" href="{% static 'css/main.css' %}">

        <script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
		<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <!-- Navigation & Logo-->
        <div id="menu" class="mainmenu-wrapper hide_mob">
	        <div class="container">
	        	<div class="menuextras hide_it">
					<div class="extras">
					Добавь в закладки, чтобы не потерять :) <a href="page-login.html">8(905)000-00-00</a>
						<ul>
							<li><i class="glyphicon glyphicon-heart icon-white"></i><a href="page-shopping-cart.html"> Избранное</a></li>
							<li class="shopping-cart-items"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> <a href="page-shopping-cart.html"><b>3 товара</b></a></li>
							<li><a href="page-login.html">Покупателям</a></li>
							<li><a href="page-login.html">Сотрудничество</a></li>
							<li class="special">
								<a href="#" title="Версия сайта для слабовидящих"><img src="{% static 'img/icons/special.png' %}" width="35" height="35" alt="Версия для слабовидящих"></a>
							</li>
						</ul>
					</div>
		        </div>

		        <nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper"><a href="index.html"><img src="{% static 'img/site-logo.png' %}" alt="Multipurpose Twitter Bootstrap Template"></a></li>
						<li>
							<form action="action.some">
							<input type="search" id="search-form" name="search" placeholder="Поиск по сайту">
							<button>
								<i class="fa fa-search"></i>
							</button>
							</form>
						</li>
						<li class="active has-submenu">
							<a href="#">Каталог товаров</a>
							<div class="mainmenu-submenu">
								<div class="mainmenu-submenu-inner">
									<div>
										<a href="page-services-4-columns.html"><h4>Комплектующие</h4></a>
										<ul class="hide_mob2">
											<li><a href="page-services-1-column.html">Для стационарных ПК</a></li>
											<li><a href="page-services-3-columns.html">Для ноутбуков</a></li>
											<li><a href="page-services-4-columns.html">Для смартфонов</a></li>
											<li><a href="page-services-4-columns.html">Для планшетов</a></li>
											<li><a href="page-services-4-columns.html">Кабели / адаптеры / переходники</a></li>
											<li><a href="page-services-4-columns.html">Эл.компоненты</a></li>
										</ul>
									</div>
									<div>
										<a href="page-services-4-columns.html"><h4>Инструменты</h4></a>
										<ul class="hide_mob2">
											<li><a href="page-portfolio-2-columns-1.html">Для пайки</a></li>
											<li><a href="page-portfolio-2-columns-2.html">Ручной инструмент</a></li>
											<li><a href="page-portfolio-3-columns-1.html">Для измерений</a></li>
											<li><a href="page-portfolio-3-columns-2.html">Программаторы</a></li>
										</ul>
									</div>
									<div>
										<a href="page-services-4-columns.html"><h4>Расходники</h4></a>
										<ul class="hide_mob2">
											<li><a href="page-products-3-columns.html">Для пайки</a></li>
											<li><a href="page-products-4-columns.html">Химия</a></li>
											<li><a href="page-products-slider.html">Термоинтерфейсы</a></li>
										</ul>
									</div>
								</div><!-- /mainmenu-submenu-inner -->
							</div><!-- /mainmenu-submenu -->
						</li>
						<li>
							<a href="credits.html">Закупка</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

        <!-- Homepage Slider -->
        <div class="homepage-slider">
        	<div id="sequence">
				<ul class="sequence-canvas">
					<li class="bg1">
						<h2 class="title">Комплектующие</h2>
						<h3 class="subtitle">Запчасти для ноутбуков, компьютеров, смартфонов, планшетов и прочей электроники. Кабели. Электронные компоненты</h3>
						<img class="slide-img" src="{% static 'img/homepage-slider/slide1.png' %}" alt="Slide 1" />
					</li>
					<li class="bg1">
						<h2 class="title">Инструменты</h2>
						<h3 class="subtitle">Для пайки. Для измерений. Мелкие ручные инструменты. Программаторы</h3>
						<img class="slide-img" src="{% static 'img/homepage-slider/slide2.png' %}" alt="Slide 2" />
					</li>
					<li class="bg1">
						<h2 class="title">Расходные материалы</h2>
						<h3 class="subtitle">Для пайки. Термоинтерфейсы. Прочая химия.</h3>
						<img class="slide-img" src="{% static 'img/homepage-slider/slide3.png' %}" alt="Slide 3" />
					</li>
				</ul>
				<div class="sequence-pagination-wrapper">
					<ul class="sequence-pagination">
						<li>1</li>
						<li>2</li>
						<li>3</li>
					</ul>
				</div>
			</div>
        </div>
        <!-- End Homepage Slider -->

		<!-- Products -->
		<div class="section">
	    	<div class="container">
				<h2>Популярные товары</h2>
				<div class="row">
					<div class="col-sm-4">
						<!-- Product -->
						<div class="shop-item">
							<!-- Product Image -->
							<div class="image">
								<a href="page-product-details.html"><img src="{% static 'img/example/product1.jpg' %}" alt="Item Name"></a>
							</div>
							<!-- Product Title -->
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<!-- Product Available Colors-->
							<div class="colors">
								<span class="color-white"></span>
								<span class="color-black"></span>
								<span class="color-blue"></span>
								<span class="color-orange"></span>
								<span class="color-green"></span>
							</div>
							<!-- Product Price-->
							<div class="price">
								<span class="price-was">$959.99</span> $999.99
							</div>
							<!-- Product Description-->
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
							</div>
							<!-- Add to Cart Button -->
							<div class="actions">
								<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Подробнее <!-- Купить --></a>
							</div>
						</div>
						<!-- End Product -->
					</div>
					<div class="col-sm-4">
						<div class="shop-item">
							<div class="image">
								<a href="page-product-details.html"><img src="{% static 'img/example/product2.jpg' %}" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<div class="colors">
								<span class="color-white"></span>
								<span class="color-black"></span>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
							</div>
							<div class="actions">
								<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Подробнее <!-- Купить --></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="shop-item">
							<div class="image">
								<a href="page-product-details.html"><img src="{% static 'img/example/product3.jpg' %}" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<div class="colors">
								<span class="color-white"></span>
								<span class="color-black"></span>
								<span class="color-blue"></span>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
							</div>
							<div class="actions">
								<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Подробнее <!-- Купить --></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="shop-item">
							<div class="image">
								<a href="page-product-details.html"><img src="{% static 'img/example/product4.jpg' %}" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<div class="colors">
								<span class="color-white"></span>
								<span class="color-black"></span>
								<span class="color-blue"></span>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
							</div>
							<div class="actions">
								<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Подробнее <!-- Купить --></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="shop-item">
							<div class="image">
								<a href="page-product-details.html"><img src="{% static 'img/example/product5.jpg' %}" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<div class="colors">
								<span class="color-white"></span>
								<span class="color-black"></span>
								<span class="color-blue"></span>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
							</div>
							<div class="actions">
								<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Подробнее <!-- Купить --></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="shop-item">
							<div class="image">
								<a href="page-product-details.html"><img src="{% static 'img/example/product6.jpg' %}" alt="Item Name"></a>
							</div>
							<div class="title">
								<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
							</div>
							<div class="colors">
								<span class="color-white"></span>
								<span class="color-black"></span>
							</div>
							<div class="price">
								$999.99
							</div>
							<div class="description">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio.</p>
							</div>
							<div class="actions">
								<a href="page-product-details.html" class="btn"><i class="icon-shopping-cart icon-white"></i> Подробнее <!-- Купить --></a>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
		<!-- End Products -->

		<!-- Posts List -->
        <div class="section blog-posts-wrapper">
	    	<div class="container">
				<h2>Что нового:</h2>
				<div class="row">
					<!-- Post -->
					<div class="col-md-4 col-sm-6">
						<div class="blog-post">
							<!-- Post Info -->
							<div class="post-info">
								<div class="post-date">
									<div class="date">30 JAN, 2020</div>
								</div>
								<div class="post-comments-count">
									<a href="page-blog-post-right-sidebar.html" title="Show Comments"><i class="glyphicon glyphicon-comment icon-white"></i>11</a>
								</div>
							</div>
							<!-- End Post Info -->
							<!-- Post Image -->
							<a href="page-blog-post-right-sidebar.html"><img src="{% static 'img/example/news1.jpg' %}" class="post-image" alt="Post Title"></a>
							<!-- End Post Image -->
							<!-- Post Title & Summary -->
							<div class="post-title">
								<h3><a href="page-blog-post-right-sidebar.html">Post Title</a></h3>
							</div>
							<div class="post-summary">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio. Duis elementum ligula eu ipsum condimentum accumsan.</p>
							</div>
							<!-- End Post Title & Summary -->
							<div class="post-more">
								<a href="page-blog-post-right-sidebar.html" class="btn btn-small">Подробнее</a>
							</div>
						</div>
					</div>
					<!-- End Post -->
					<div class="col-md-4 col-sm-6">
						<div class="blog-post">
							<div class="post-info">
								<div class="post-date">
									<div class="date">30 JAN, 2020</div>
								</div>
								<div class="post-comments-count">
									<a href="page-blog-post-right-sidebar.html" title="Show Comments"><i class="glyphicon glyphicon-comment icon-white"></i>16</a>
								</div>
							</div>
							<a href="page-blog-post-right-sidebar.html"><img src="{% static 'img/example/news2.jpg' %}" class="post-image" alt="Post Title"></a>
							<div class="post-title">
								<h3><a href="page-blog-post-right-sidebar.html">Another Post Title</a></h3>
							</div>
							<div class="post-summary">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio. Duis elementum ligula eu ipsum condimentum accumsan.</p>
							</div>
							<div class="post-more">
								<a href="page-blog-post-right-sidebar.html" class="btn btn-small">Подробнее</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="blog-post">
							<div class="post-info">
								<div class="post-date">
									<div class="date">30 JAN, 2020</div>
								</div>
								<div class="post-comments-count">
									<a href="page-blog-post-right-sidebar.html" title="Show Comments"><i class="glyphicon glyphicon-comment icon-white"></i>57</a>
								</div>
							</div>
							<a href="page-blog-post-right-sidebar.html"><img src="{% static 'img/example/news3.jpg' %}" class="post-image" alt="Post Title"></a>
							<div class="post-title">
								<h3><a href="page-blog-post-right-sidebar.html">Yet Another Post Title</a></h3>
							</div>
							<div class="post-summary">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio. Duis elementum ligula eu ipsum condimentum accumsan.</p>
							</div>
							<div class="post-more">
								<a href="page-blog-post-right-sidebar.html" class="btn btn-small">Подробнее</a>
							</div>
						</div>
					</div>

				</div>
			</div>
	    </div>
	    <!-- End Posts List -->

		<!-- Call to Action Bar -->
	    <div class="section section-white">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="calltoaction-wrapper">
							<h3>Остались вопросы? Позвони нам!</h3> <a href="tel:89050000000" class="btn btn-orange">8(905)000-00-00</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Call to Action Bar -->

	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row">
		    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3>Навигация</h3>
		    			<ul class="no-list-style footer-navigate-section">
		    				<li><a href="page-blog-posts.html">Каталог товаров</a></li>
		    				<li><a href="page-portfolio-3-columns-2.html">Закупка</a></li>
		    				<li><a href="page-products-3-columns.html">Сотрудничество</a></li>
		    				<li><a href="page-services-3-columns.html">Избранные товары</a></li>
		    				<li><a href="page-pricing.html">Корзина</a></li>
		    			</ul>
		    		</div>
		    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3>Покупателям</h3>
		    			<ul class="no-list-style footer-navigate-section">
		    				<li><a href="page-blog-posts.html">О нас</a></li>
		    				<li><a href="page-portfolio-3-columns-2.html">Новости</a></li>
		    				<li><a href="page-products-3-columns.html">Как оформить заказ</a></li>
		    				<li><a href="page-services-3-columns.html">Доставка и самовывоз</a></li>
		    				<li><a href="page-pricing.html">Обработка персональных данных</a></li>
		    				<li><a href="page-faq.html">Политика конфиденциальности</a></li>
		    			</ul>
		    		</div>
		    		<div class="col-footer col-md-5 col-xs-12">
		    			<h3>Контакты</h3>
		    			<p class="contact-us-details">
	        				<b>Адрес:</b> <br/>
	        				<b>Телефон: </b> 8(905)000-00-00<br/>
	        			</p>
		    		</div>
		    		<div class="col-footer col-md-3 col-xs-12">
		    			<h3>На карте</h3>
		    			<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="{% static 'img/map.jpg' %}" alt="Project Name"></a>
							</div>
						</div>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright"><a href="">somesite.ru</a><br /><a href="">All rights reserved.</a></div>
		    		</div>
		    	</div>
		    </div>
	    </div>

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="{% static 'js/jquery.fitvids.js' %}"></script>
        <script src="{% static 'js/jquery.sequence-min.js' %}"></script>
        <script src="{% static 'js/jquery.bxslider.js' %}"></script>
        <script src="{% static 'js/main-menu.js' %}"></script>
        <script src="{% static 'js/template.js' %}"></script>
    </body>
</html>

      {#% block content %#}
{#      Some content 	#}
      {#% endblock %#}