{% load static %}
        <!-- Homepage Slider -->
        <div class="homepage-slider">
        	<div id="sequence">
				<ul class="sequence-canvas">
					<li class="bg1">
						<h2 class="title">Комплектующие</h2>
						<h3 class="subtitle">Запчасти для ноутбуков, компьютеров, смартфонов, планшетов и прочей электроники. Кабели. Электронные компоненты</h3>
						<img class="slide-img" src="{% static 'img/homepage-slider/slide1.png' %}" alt="Slide 1" />
					</li>
					<li class="bg1">
						<h2 class="title">Инструменты</h2>
						<h3 class="subtitle">Для пайки. Для измерений. Мелкие ручные инструменты. Программаторы</h3>
						<img class="slide-img" src="{% static 'img/homepage-slider/slide2.png' %}" alt="Slide 2" />
					</li>
					<li class="bg1">
						<h2 class="title">Расходные материалы</h2>
						<h3 class="subtitle">Для пайки. Термоинтерфейсы. Прочая химия.</h3>
						<img class="slide-img" src="{% static 'img/homepage-slider/slide3.png' %}" alt="Slide 3" />
					</li>
				</ul>
				<div class="sequence-pagination-wrapper">
					<ul class="sequence-pagination">
						<li>1</li>
						<li>2</li>
						<li>3</li>
					</ul>
				</div>
			</div>
        </div>
        <!-- End Homepage Slider -->